@font-face {
  font-family: 'CircularStd-BlackItalic';
  src: url('CircularStd-BlackItalic.eot');
  src: url('CircularStd-BlackItalic.woff2') format('woff2'),
       url('CircularStd-BlackItalic.woff') format('woff'),
       url('CircularStd-BlackItalic.ttf') format('truetype'),
       url('CircularStd-BlackItalic.svg#CircularStd-BlackItalic') format('svg'),
       url('CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

